/* Reset some default styles */
body, h1, ul, li, div, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #868786;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Main container styling */
.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%; /* Adjust width as needed */
    padding: 20px;
}


/* Canvas styling */
canvas {
    border: 4px solid #333;
    background-color: #fff;
    flex-grow: 1;
    height: 600px; /* Adjust height as needed */
}

/* Container styling */
.container {
    border: 2px solid #333;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Heading styling */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* List styling */
ul {
    list-style-type: none;
}

/* List item styling */
li {
    margin-bottom: 20px;
}

/* Button styling */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Input styling */
input[type="number"] {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
}

/* Option div styling */
div[id^="opt"] {
    display: none;
    margin-top: 10px;
}